{% extends "layout.html.twig" %}

{% block title %}Chart{% endblock %}

{% block body %}
<div class="container">
    <div id="canvas-holder" style="width:40%">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div><!-- end container -->
{%  endblock body %}



{% block javaScript_extra %}
<script type="text/javascript" src="{{ asset('assets/js/chartjs/Chart.bundle.js') }}"></script>
{% endblock javaScript_extra %}


{% block javaScript_loading_ready %}
var ctx = document.getElementById("myChart");
var myChart2 = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["4.3.1 : PF1 BES, PF2 BES", "4.6.1 : PFF BES", "4.5.3 : FIF BES"],
        datasets: [{
            label: '# of Votes',
            data: [2, 1, 1],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ]
        }]
    },    
});
{% endblock javaScript_loading_ready %}